{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>Listing Details</h1>

<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
</div>

  <div class="slider">
    <ul class="slides">
      {% for photo in listing.photo_set.all %}
      <li>
        <img class="materialboxed" src="{{photo.url}}">
      </li>
      {% empty %}
      <li>
        <div class="caption center-align">
          <h5 class="light grey-text text-lighten-3">No Photos Uploaded</h5>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>




<form action="{% url 'add_photo' listing.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>


    <div class="card-content">
        <p>{{ listing.description }}</p>
        <p>Listing Owner: {{ listing.user }}</p>
        <p>Price: ${{ listing.price }}</p>
    </div>
     <div class="card-action">
        {% if request.user.id == listing.user.id %}
          <a href="{% url 'listings_update' listing.id %}">Edit</a>
          <a href="{% url 'listings_delete' listing.id %}">Delete</a>
        {% endif %}
      </div>
    </div>
    <div class="col s6">
    </div>
    <ul class="collection">
      {% for comment in listing.comment_set.all %}
      <li class="collection-item avatar">
        <img src="{% static '/img/user_placeholder_image.png' %}" alt="" class="circle">
        <span class="title">{{comment.commenter}}</span>
        <p class="comment">{{comment.content}}
        </p>
        <span href="#!" class="secondary-content"><i class="material-icons">{{comment.date}}</i></span>
        {% if request.user.is_superuser %}
           <form class="comment-form" method="POST" action="{% url 'delete_comment' listing.id comment.id%}">
            {% csrf_token %}
            <button id="comment-delete" class="btn red lighten-1"> Delete Comment </button>
           </form>
           {% endif %}
      </li>
      {% endfor %}
    </ul>

<div>
    <div class="col s6">
      <form action="{% url 'add_comment' listing.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="btn" value="Add Comment">
      </form>
    </div>
</div>


{% endblock %}
