{% extends 'base.html' %}
{% block content %}

<h1>Listing Details</h1>

<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://materializecss.com/images/office.jpg">
    </div>

    <div class="card-content">
        <p>{{ listing.description }}</p>
        <p>Listing Owner: {{ listing.user }}</p>
        <p>Price: ${{ listing.price }}</p>
    </div>
     <div class="card-action">
        {% if request.user.id == listing.user.id %}
          <a href="{% url 'listings_update' listing.id %}">Edit</a>
          <a href="{% url 'listings_delete' listing.id %}">Delete</a>
        {% endif %}
      </div>
    </div>
</div>


{% endblock %}
