{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rendezvous</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
  <!-- <script defer src="https://maps.googleapis.com/maps/api/js?key={{g_api_key}}&callback=initializeMap"></script> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
  <header class="navbar">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      <li><a href="{% url 'profile_edit' user.id %}">Edit</a></li>
      <li><a href="{% url 'my_listings' %}">My Listings</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper green">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">
          menu
          </i></a>
        <ul>
          <li><a href="/" class="brand-logo">&nbsp;&nbsp;Rendezvous</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li><a href="{% url 'about' %}"><i class="material-icons right">info_outline</i>About</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'listings_create' %}"><i class="material-icons right">add_box</i>Add Listing</a></li>
            <li><a href="{% url 'index' %}"><i class="material-icons right">view_module</i>All Listings</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
        <ul class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><img id="avatar-nav" class="avatar" src="{% static '/img/account_avatar.png' %}"><i class="material-icons right"></i></a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{% url 'home' %}"><i class="material-icons right">home</i>Home</a></li>
      <li><a href="{% url 'about' %}"><i class="material-icons right">info_outline</i>About</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'listings_create' %}"><i class="material-icons right">add_box</i>Add Listing</a></li>
      <li><a href="{% url 'index' %}"><i class="material-icons right">view_module</i>All Listings</a></li>
      <li class="divider black"></li>
      <li><a href="#!">Edit</a></li>
      <li><a href="{% url 'my_listings' %}">My Listings</a></li>
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Log In</a></li>
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  </br>
  <footer class="page-footer green">
    <div class="right">All Rights Reserved, &copy; 2022 Rendezvous &nbsp;</div>
  </footer>
  <script>


    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.carousel');
      var instances = M.Carousel.init(elems,
      {
        indicators: true,
      });
      let indicatorItems = document.querySelectorAll('.carousel .indicator-item'),
      slideTime = 2000,
      activeClass = "active";

  setInterval(() => {
    indicatorItems.forEach(el => {
      if (el.classList.contains(activeClass)) {
        sib = el.nextElementSibling;
        if (sib == null) {
          indicatorItems[0].click();
        } else {
          sib.click()
        }
      }
    });
  }, slideTime);

      var elems = document.querySelectorAll('.parallax');
      var instances = M.Parallax.init(elems, options);

      var elems = document.querySelectorAll('.slider');
      var sliderOptions = {
        'height': 650,
      }
      var instances = M.Slider.init(elems, sliderOptions);

      var elems = document.querySelectorAll('.sidenav');
      var options = {
        'closeOnClick': true,
      }
      var instances = M.Sidenav.init(elems, options);

      var elems = document.querySelectorAll('.materialboxed');
      var boxedOptions = {
        'originalHeight': 650,
      }
      var instances = M.Materialbox.init(elems, boxedOptions);

      var dropdown1 = document.querySelector('.dropdown-trigger');
      var dropdownOptions = {
        'closeOnClick': true,
        'hover':true
    }
      var instanceDropdown1 = M.Dropdown.init(dropdown1, dropdownOptions);
  });
  </script>
</html>
