{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <title>Maps sandbox</title>
  <script src="https://maps.googleapis.com/maps/api/js?key={{g_api_key}}&libraries=places&callback=initAutocomplete"></script>
  <script src="{% static '/js/maps.js' %}"></script>
</head>
<body>
  
<h1>Gmaps Rendezvous Sandbox</h1>
<input id="autocomplete" placeholder="Enter your location" type="text" />
<input id="locality" type="text" placeholder="locality"/>
<input id="state" type="text" placeholder="state"/>
<input id="country" type="text" placeholder="country"/>

    
      <h6>Matej, Abdullahi - When you enter an address above, it will trigger a map to be rendered below. But the below map is not showing the address you just entered. I will get that working Tursday as I move it to the profile detail page. </h6>
        <!-- <div>Address: {{full_address}}</div> -->
        <div id="googleMap" style="width:500px;height:380px;"></div>

    

</body>
<!-- Maps render below -->

<script>
  // var lat=51.508742;
  // var lng=8.120850;
  var lat={{lat}};
  var lng={{lng}};

  var myCenter=new google.maps.LatLng(lat,lng);

  function initializeMap()
  {
  var mapProp = {
    center:myCenter,
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
    };

  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

  var marker=new google.maps.Marker({
    position:myCenter,
    });
google.maps.LatLng
  marker.setMap(map);
  }

initializeMap();
  </script>
</html>

{% endblock %}